* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url("mobile/image-host.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.maindiv {
    width: 375px;
    height: 100%;
    background-color: #121725;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #54E6AF;
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin-top: 57px;
}

span {
    color: white;
}
.maindiv>img {
    margin-top: 62px;
}
section>p{
    width: 327px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #C2CBE5;
    text-align: center;
    margin-top: 16px;
}
.imgdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    width: 327px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
}
.spotify{
    height: 16.94px;
    
}
.apple{
    height: 17px;
    
}
.google{
    height: 11px;
    
}
.pocket{
    height: 15px;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}
.email{
    all: unset;
    width: 263px;
    height: 46px;
    border-radius: 28px;
    background-color: #2C344B;
    padding: 0 32px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.email::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: white;
}

.submit{
    all: unset;
    width: 326px;
    height: 46px;
    border-radius: 28px;
    background-color: #54E6AF;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    cursor: pointer;
}
.submit:hover{
    background-color: #B3FFE2;
}
.second{
    display: none;
}
#redtext{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.28px;
    color: #FB3E3E;
    display: none;
}

@media (min-width:768px){
    .maindiv{
        background-color: transparent;
        opacity: 1;
        width: 768px;
        align-items: start;
        
    }
    section{
        background-color: #121725;
        width: 635px;
        align-items: start;
        margin-top: 152px;
        margin-left: 39px;
    }
    body{
        background-image: url("tablet/image-host.jpg");
        background-position: top right;
        background-color: #121725;
    }
    .pattern{
        position: absolute;
        bottom: 0;
    }
    .first{
        display: none;
    }
    .second{
        display: flex;
    }
    h1{
        font-size: 48px;
        line-height: 56px;
        text-align: start;
        margin-top: 93px;
    }
    section>p{
        font-size: 18px;
        line-height: 28px;
        width: 445px;
        text-align: start;
        margin-top: 31px;
    }
    form{
        position: relative;
        margin-top: 40px;
    }
    .submit{
        position: absolute;
        width: 162px;
        right: 5px;
        top: 5px;
        margin-top: 0;
    }
    .email{
        width: 427px;
        height: 56px;
    }
    .spotify{
        width: 95.9px;
        height: 28.91px;
    }
    .apple{
        width: 78px;
        height: 29px;
    }
    .google{
        width: 125px;
        height: 18px;
    }
    .pocket{
        width: 129px;
        height: 26px;
    }
    .imgdiv{
        align-items: center;
        justify-content: space-between;
        width: 536px;
        margin-top: 64px;
    }
    .maindiv>img{
        margin-top: 50px;
        margin-left: 39px;
    }
}
@media (min-width:1440px){
    .maindiv{
        width: 1440px;
    }
    section{
        width: 723px;
        margin-top: 103px;
        margin-left: 165px;
    }
    body{
        background-image: url("desktop/image-host.jpg");
        background-position: center right;
    }
    .pattern{
        right: 0;
        bottom: 78px;
    }
    .maindiv>img{
        margin-top: 102px;
        margin-left: 165px;
    }
    h1{
        font-size: 52px;
        line-height: 62px;
        margin-top: 88px;
    }
    section>p{
        font-size: 18px;
        line-height: 28px;
        margin-top: 24px;
    }

}